:root {
  --translateX: 0px;
  --translateY: 0px;
  --opacity: .5;

  --controlsTransparency: .8;
  --white: rgb(246 253 250);
  --form-control-color: rgb(54 53 55/70%);

  }

@media only screen and (max-width: 1200px) {
  .side{
      display: none;
  }
}

p {
    font-family: Georgia, 'Times New Roman', Times;
}

.title {
    display: flex;
}

.page {
    display: flex;
    border: 3px dotted rgb(64, 87, 179);
}

.side {
    flex: 1 0 auto;
    width: 200px;
    padding: 20px;
}

.article-p {
  padding-top: 20px;
  padding-bottom: 20px;
}

main {
    /* display: flex;
    width: 500px;
    flex: 3 1 auto;
    padding: 10px 50px 10px 10px;
*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; 
    border: 3px dotted rgb(230, 142, 142);

    
}



.display-container {
  display: block;
  position: relative;
    border: 6px solid rgb(250 112 112);
}

#canvas-interactive {
    border-bottom: 3px solid rgb(250 112 112);
    width: 100%;
    flex: 1;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;

  }

  .controls-container-container {
    /* position: flex; */
    position: absolute;
    left: 15%;
    top: 75%;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times;
    color: var(--white) ;
    width: 80%;
    opacity: 1;
  }

  .opacity-class {
    opacity: var(--opacity);
  }

  .opacity-anim:hover {
   opacity: 1;
  }
  
  .controls-container {
  
      font-family: Georgia, 'Times New Roman', Times;
      font-size: inherit;
  
      background: rgb(71 91 90 / var(--controlsTransparency));  
      border-radius: 10px;
      border: 4px solid rgb(250 112 112);
      flex-wrap: wrap;
      justify-content: space-evenly; 
    }
  
    .control-row {
      padding: 2px;
      padding-left: 4px;
      padding-right: 4px;
      display: flex;
      flex-wrap: wrap;
      padding: auto;
      justify-content:space-around;
      align-content: center;
    }

  .minimize-button {

    font-family: inherit;
    font-size: 14px;
    border: none; 
    cursor: pointer;

    color: var(--white);
    background-color: rgb(71 91 90/var(--controlsTransparency));
    border-radius: 4px;
    border: 2px solid rgb(250 112 112);
    border-bottom: 0px;
  }

  .canvas-btn {
    font-family: inherit;
    font-size: inherit;
    border: none; 
    background-color: inherit;
    cursor: pointer;
    /* padding: 4px; */
    width: 100%;

    color: var(--white);
    display: inline-block;    
   }

   .switch {
    padding-right: 1em;
    display: flex;
    gap: .2em;
    align-items: center;
    justify-items: center;
  }

  .canvas-checkbox {
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.5em;
    height: 1.5em;
    border: 0.05em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(0.075em); 
    place-content: center;
    display: grid; 
  }

  .toggle-label {
    text-decoration: line-through;
  }

   .canvas-btn:disabled, .canvas-checkbox:disabled + .toggle-label, .minimize-button:disabled {
    color:#9c9c9c;
    cursor: not-allowed;
   }

   .switch:hover:not([disabled]), .canvas-btn:hover:not([disabled]),  .minimize-button:hover:not([disabled]) {
    /* color: rgb(250 112 112); */
    box-shadow: 0px 0 3px 3px rgb(0, 0, 0, .5);

   }
  
  .canvas-checkbox::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
  
  .canvas-checkbox:checked::before {
    transform: scale(1);
  }

  input[type=checkbox]:checked + label.toggle-label {
    text-decoration: none;
  }




.paired-btn-label {
  --padding: 7%;
  padding-left: var(--padding);
  padding-right: var(--padding);
  display: flex;
  align-self: center;

}

  .control {
    background-color: inherit;
    display: flex; 
    padding: 4px; 
  }

  .paired-control {
    border: 1px white solid;
    border-radius: 5px;
    /* background-color: rgb(71, 91, 90, .6); */
    display: flex;
    justify-content: center;
    padding-left: 3%;
    padding-right: 3%;

  }

  .paired-btn {
    font-size: 1.8em;
    color: var(--form-control-color);
  }

  .minimize-class {
    animation: 1s minimize 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    transform-origin: top left;
  }

  .slide-away-class {
    animation: 1s slide-away 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }

  .slide-back-class {
    animation: 1s slide-back 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }

  .un-minimize-class {
    animation: 1s un-minimize 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    transform-origin: top left;
  }

  @keyframes un-minimize {
    from {
      transform: scaleX(0) scaleY(0);
      opacity: 0;
    }

    20% {
      transform: scaleX(.5) scaleY(.2);
      opacity: .9;
    }

    to {
      transform: scaleX(1) scaleY(1);
      opacity: 1;
    }
  }

  

  @keyframes minimize {
    from {
      transform: scaleX(1) scaleY(1);
      opacity: var(--opacity);
    }

    80% {
      transform: scaleX(.3) scaleY(.2);
      opacity: calc(var(--opacity) * .9);
    }

    to {
      transform: scaleX(0) scaleY(0);
      opacity: 0;
    }
  }

  @keyframes slide-back {
    from {
      transform: scale(1) translateX(calc(var(--translateX))) translateY(calc(var(--translateY)));
    }

    to {
      transform: scale(1) translateX(0px) translateY(0px);

    }
  }

  @keyframes slide-away {
      from {
        transform: scale(1) translateX(0px) translateY(0px);
        
      }
    
      to {
        transform: scale(1) translateX(calc(var(--translateX))) translateY(calc(var(--translateY)));

      }
    
  }